{% if devices %}
    <ol>
    {% for device in devices.results|sort(attribute='display_name') %}
        <li><a href="{{ url_for('connectto', fromdev=fromdev, todev=device.id) }}">{{ device.display_name }}</a> {{ device.device_type.display_name }} - {{ device.device_role.name}} located in {{ device.rack.display_name }}</li>
    {% endfor %}
    </ol>
{% else %}
    <form method="post">
        Search for the device to connect TO:<br/>
        <input type="text" name="to">
        <input type="submit" value="Submit">
    </form>
{% endif %}