<head>
<style>
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
    }
    .to-box {
        width: 100px;
        height: 100px;
        margin: 5px;
        padding: 5px;
        border: 2px solid black;
        background-color: lightgray;
    }

    .to-box .from-port {
        border-bottom-style: solid;
        border-bottom-width: 10px;
    }

    .connected-box {
        background-color: darkred;
        color: white;
        font-style: italic;
    }
    .from-port {
        margin: 5px;
        padding: 5px;
        background-color: lightgreen;
        color: black;
        border-bottom-style: none;
    }
    .connected-port {
        background-color: darkred;
        color: white;
        font-style: italic;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
        
        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
        /* opacity: 0; */
        /* transition: opacity 0.5s; */
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        z-index: 2;
        cursor: pointer;
    }

    .overlay .text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
    if (ev.target.getAttribute("draggable") == "true")
        ev.dataTransfer.dropEffect = "none"; // dropping is not allowed
    else if (!ev.target.getAttribute("ondrop"))
        ev.dataTransfer.dropEffect = "none"; // dropping is not allowed
    else
        ev.dataTransfer.dropEffect = "all"; // drop it like it's hot
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    if (ev.target.parentNode.getElementsByClassName("tooltiptext")[0] != undefined)
        ev.target.parentNode.getElementsByClassName("tooltiptext")[0].innerHTML = "Available";
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));

    /* Set Attributes */
    document.getElementById(data).style.borderBottomColor = document.getElementById('cable_color').value;
    document.getElementById(data).setAttribute('data-cablecolor', document.getElementById('cable_color').value);
    document.getElementById(data).setAttribute('data-cablelength', document.getElementById('cable_length').value);
    document.getElementById(data).setAttribute('data-lengthunit', document.getElementById('length_unit').value);
    document.getElementById(data).setAttribute('data-cabletype', document.getElementById('cable_type').value);

    if(ev.target.getElementsByClassName("tooltiptext")[0] != undefined) {
        let tip = '';

        /* Length */
        tip = tip + document.getElementById('cable_length').value + ' ';
        lenUnits = document.getElementById('length_unit').getElementsByTagName('option');
        for(let x = 0; x < lenUnits.length; x++) {
            if (lenUnits[x].value == document.getElementById('length_unit').value) {
                tip = tip + lenUnits[x].childNodes[0].data;
            }
        }       

        tip = tip + '<br>'

        /* Cable Type */
        cableTypes = document.getElementById('cable_type').getElementsByTagName('option');
        for(let x = 0; x < cableTypes.length; x++) {
            if (cableTypes[x].value == document.getElementById('cable_type').value) {
                tip = tip + cableTypes[x].childNodes[0].data;
            }
        }       

        ev.target.getElementsByClassName("tooltiptext")[0].innerHTML = tip;
    }
        

    
}

function saveMapping() {
    var root = document.getElementById("to_ports")
    var to_ports = root.childNodes;
    var mapping = [];
    for(let i = 0; i < to_ports.length; i++) {
        if (to_ports[i].id != undefined) {
            var from_ports = to_ports[i].childNodes;
            for(let j = 0; j < from_ports.length; j++) {
                if (from_ports[j].id != undefined) {
                    if (from_ports[j].id.length > 0 && to_ports[i].id > 0) {
                        console.log('Connection from ' + from_ports[j].id + ' to ' + to_ports[i].id);
                        var map = {
                            a_id: from_ports[j].id,                             
                            a_type: from_ports[j].dataset.termtype,
                            b_id: to_ports[i].id, 
                            b_type: to_ports[i].dataset.termtype,
                            cable_len: from_ports[j].dataset.cablelength,
                            len_unit: from_ports[j].dataset.lengthunit,
                            type: from_ports[j].dataset.cabletype,
                            color: from_ports[j].dataset.cablecolor
                        }
                        mapping.push(map)
                    }
                }
            }
        }
    }

    document.getElementById("overlay_wait").style.display = "block";

    var ajax = new XMLHttpRequest();
    ajax.open('POST', '/ajax/map/ports/');
    ajax.setRequestHeader('Content-Type', 'application/json');
    ajax.onload = function() {
        if (ajax.status === 200) {
            server_data = JSON.parse(ajax.responseText);
            console.log(server_data);
            document.getElementById("overlay_done").getElementsByClassName('text')[0].innerHTML = 'Mapping saved. Created ' + server_data.length + ' cables.';
            document.getElementById("overlay_wait").style.display = "none";
            document.getElementById("overlay_done").style.display = "block";
        }
        else {
            document.getElementById("overlay_wait").style.display = "none";
            document.getElementById("overlay_error").style.display = "block";
            console.log(ajax);
        }
    }
    ajax.send(JSON.stringify(mapping));
}

function off(id) {
    document.getElementById(id).style.display = "none";
}

</script>
</head>
<body>
    <a href="{{ url_for('index') }}">Go Home</a>
    <h1>Map Connections</h1>
    <p>Drag the source ports to the destination ports.</p>

    <div class="overlay" id="overlay_wait">
        <div class="text">Communicating with the hivemind...</div>
    </div>

    <div class="overlay" id="overlay_done" onclick="location.reload(true)">
        <div class="text">Mapping saved!</div>
    </div>

    <div class="overlay" id="overlay_error" onclick="off('overlay_error')">
        <div class="text">Something went wrong... :(</div>
    </div>

    <form>
        Length: 
        <input id="cable_length" type="number">
        <select id="length_unit">
            {% for unit in length_units %}
                <option value="{{ unit.value }}">{{ unit.label }}</option>
            {% endfor %}
        </select>
        
        Type:
        <select id="cable_type">
            {% for type in cable_types %}
                <option value="{{ type.value }}">{{ type.label }}</option>
            {% endfor %}
        </select>

        Color:
        <select id="cable_color">
            {% for color in colors %}
                <option value="{{ color[0] }}">{{ color[1] }}</option>
            {% endfor %}
        </select>
    </form>

    <h3>Source Ports on {{ from_dev.name }}</h3>
    <div id="from_ports" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for slot in from_slots %}
            {% if not slot.cable %}
                <div id="{{ slot.id }}" class="from-port" draggable="true" ondragstart="drag(event)" data-termtype="{{ slot.termtype }}">{{ slot.name }}</div>
            {% else %}
                <div class="from-port connected-port">{{ slot.name }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <h3>Destination Ports on {{ to_dev.name }}</h3>
    <div id="to_ports" class="container">
        {% for slot in to_slots %}
            {% if not slot.cable %}
                <div id="{{ slot.id }}" class="to-box tooltip" ondrop="drop(event)" ondragover="allowDrop(event)" data-termtype="{{ slot.termtype }}">
                    {{ slot.name }} - {{ slot.description }}
                    <span class="tooltiptext">Available</span>
                </div>
            {% else %}
                <div class="to-box connected-box tooltip">{{ slot.name }} - {{ slot.description }}<span class="tooltiptext">Already Connected</span></div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    
    <input id="submit" type="button" value="Save Mapping" onclick="saveMapping();"/>   

</body>