<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2 {
        color: red;
    }
</style>

<a href="{{ url_for('index') }}">Go Home</a>

{% if device %}
<h1>Port Descriptions on {{ device.display_name }}</h1>

{% if goodports|length > 0 %}
<h2>Set descriptions on {{ goodports|length }} interfaces.</h2>
{% endif %}

<form method="post">
    {% for port in ports %}
        <p><b>{{ port.name }}:</b> <input type="text" name="{{port.termtype}}:{{ port.id }}" value="{{ port.description }}"></p>
    {% endfor %}
    <input type="submit" value="Save Changes">
</form>

{% elif devices %}
    <ol>
    {% for device in devices.results|sort(attribute='display_name') %}
        <li>
            <a href="{{ url_for('rename', deviceid=device.id) }}">{{ device.display_name }}</a>
            {{ device.device_type.display_name }} - {{ device.device_role.name}} located in {{ device.rack.display_name }}
        </li>
    {% endfor %}
    </ol>
{% else %}
    <form method="post">
        Search for the device you want to relabel ports on:<br/>
        <input type="text" name="device">
        <input type="submit" value="Submit">
    </form>
{% endif %}